body.rtl {
    font-family: "IRANSans", sans-serif;
    direction: rtl;
    text-align: right;
}

h2, h3, h4, h6 {
    font-family: "IRANSans", sans-serif;
}

.kt-col-xs-1, .kt-col-xs-2, .kt-col-xs-3, .kt-col-xs-4, .kt-col-xs-5, .kt-col-xs-6, .kt-col-xs-7, .kt-col-xs-8, .kt-col-xs-9, .kt-col-xs-10, .kt-col-xs-11, .kt-col-xs-12 {
    float: right;
}

.kt-col-sm-1, .kt-col-sm-2, .kt-col-sm-3, .kt-col-sm-4, .kt-col-sm-5, .kt-col-sm-6, .kt-col-sm-7, .kt-col-sm-8, .kt-col-sm-9, .kt-col-sm-10, .kt-col-sm-11, .kt-col-sm-12 {
    float: right;
}

.kt-col-md-1, .kt-col-md-2, .kt-col-md-3, .kt-col-md-4, .kt-col-md-5, .kt-col-md-6, .kt-col-md-7, .kt-col-sm-8, .kt-col-md-9, .kt-col-md-10, .kt-col-md-11, .kt-col-md-12 {
    float: right;
}

.kt-col-lg-1, .kt-col-lg-2, .kt-col-lg-3, .kt-col-lg-4, .kt-col-lg-5, .kt-col-lg-6, .kt-col-lg-7, .kt-col-lg-8, .kt-col-lg-9, .kt-col-lg-10, .kt-col-lg-11, .kt-col-lg-12 {
    float: right;
}


body.rtl .article-section-inner,
body.rtl .blog-cat-box-inner,
body.rtl .kt-series-pagination > div a h3,
body.rtl .kando-form-wizard .c-n-wrapper,
body.rtl .kando-panel2-navigation ul li i
{
    direction: rtl;
}

body.rtl .kando-form-wizard .ltr {
    text-align: left !important;
    direction: ltr !important
}

body.rtl .kando-form-wizard .ltr::-webkit-input-placeholder {
    text-align: right !important;
    direction: rtl !important
}

body.rtl .kando-form-wizard .ltr::-moz-placeholder {
    text-align: right !important;
    direction: rtl !important
}

body.rtl .kando-form-wizard .ltr:-ms-input-placeholder {
    text-align: right !important;
    direction: rtl !important
}

.kando-form-wizard .ltr::-ms-input-placeholder {
    text-align: right !important;
    direction: rtl !important
}

body.rtl .kando-form-wizard .custom-select-wrapper select {
    direction: rtl;
    text-align: right;
}

.kando-form-wizard .service-selection .kando-form-wizard-buttons {
    text-align: left;
    margin-top: -63px
}

.kando-form-wizard .kando-form-wizard-step {
    float: right
}
.kando-form-wizard .kando-form-wizard-step:nth-child(3) {
    margin: 0 94px
}

.kando-form-wizard .kando-form-wizard-step:nth-child(3) .f-w-s-arrow {
    left: -78px;
    right: auto;
}

.kando-form-wizard .kando-form-wizard-step .user-filter {
    left: 35px;
}

.kando-form-wizard .service-description .s-d-title {
    text-align: right;
}

.kando-form-wizard .kando-form-wizard-step .Document-filter {
    left: 33px;
}

.kando-form-wizard .kando-form-wizard-step .f-w-s-arrow {
    right: 100px;
    transform: rotate(0deg);
}

.kando-form-wizard .final-price {
    text-align: right;
}

@media only screen and (max-width: 480px) {
    .kando-form-wizard .kando-form-wizard-step .f-w-s-arrow {
        right: 69px;
        transform: rotate(0deg);
    }

    .kando-form-wizard .kando-form-wizard-step:nth-child(3) .f-w-s-arrow {
        left: -72px;
    }
}

body.rtl table ,
body.rtl table .kt-mega-menu-holder,
body.rtl .icon-box3-icon-top.align-right .icon-box3-icon,
body.rtl .footer-logo,
body.rtl table td,body.rtl table th,
body.rtl .email-package-box,
body.rtl .reportage-box,
body.rtl .blog-single-date span,
body.rtl .kt-dislike-count, .kt-like-count,
body.rtl .kt-modal-inner.kt-checkout-login-modal, .kt-modal-inner.kt-checkout-register-modal,
body.rtl .modal-contact-left,
body.rtl .dashboard-box,
body.rtl .banner-adv.kt-row, .reportage-custom.kt-row,
body.rtl .input_subtitle,
body.rtl .kando-form-wizard fieldset,
body.rtl .kando-form-wizard .c-n-wrapper .c-n-input,
body.rtl .kando-form-wizard .c-n-wrapper .c-n-textarea,
body.rtl .main-menu .sub-menu,
body.rtl .kt-send-package-modal .kt-modal-content,
body.rtl ul.order-details
{
    text-align: right;
}

body.rtl .main-menu .menu-item-style-normal .sub-menu {
    text-align: right;
    right: auto;
    left: 0;
}

body.rtl .kt-dislike-count, .kt-like-count {
    /*margin-right: 15px;*/
    margin-left: 0;
}

@media (max-width: 991px) {
    body.rtl .icon-box3-icon-right.align-left {
        text-align: right
    }
}

@media (max-width: 767px) {
    body.rtl .dashboard-post-date,
    body.rtl .dashboard-post-inner,
    body.rtl .dashboard-service-inner,
    body.rtl .dashboard-service-links,
    body.rtl .shop_table.shop_table_responsive tbody tr td.product-name

    {
        text-align: right;
    }
}

@media (max-width: 1200px) {
    body.rtl .shop_table.shop_table_responsive tbody tr td.product-name {
        text-align: right
    }
}

body.rtl .kando-panel2-navigation ul li i {
    margin-left: 10px;
    margin-right: 0;
}

body.rtl .kando-site-mask{
    left: 0;
    right: auto;
}

body.rtl .myacc_item_menu i {
    margin-left: 10px;
    margin-right: 0
}

body.rtl .kando-panel2-navigation ul li.is-active a{
    padding-right: 15px;
    padding-left: 0;
}

body.rtl .kando-panel2-navigation ul li a {
    padding-right: 15px;
    padding-left: 0;
}

body.rtl .panel-header-wallet span {
    margin-right: 10px;
    margin-left: 0;
}

body.rtl .ml-auto,body.rtl .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

body.rtl .text-right {
    text-align: left !important;
}

body.rtl h5.dashboard-posts-title {
    margin-right: 15px;
    margin-left: 0;
}


body.rtl a.dashboard-add-post-button {
    left: 30px;
    right: auto;
}

body.rtl .dashboard-welcome-box-inner img {
    /*float: right;*/
    /*margin-left: 40px;*/
    margin-right: 0;
    /*max-width: 35%*/
}

.dashboard-welcome-close {
    left: 40px;
    right: auto;
}

.dashboard-welcome-close:after, .dashboard-welcome-close:before {
    left: 0;
    right: auto;
}

.new-ticket-help ul li {
    padding-right: 25px;
    padding-left: 0;
}

.new-ticket-help ul li:before {
    right: 0;
    left: auto;

}

.brand-company .media .icon{
    margin-left:12px;
    margin-right:0;
}

input[type=checkbox] + label, input[type=radio] + label {
    padding-right: 36px;
    padding-left: 0;
}

input[type=checkbox] + label:after, input[type=checkbox] + label:before, input[type=radio] + label:after, input[type=radio] + label:before {
    right: 0;
    left: auto;
}

table tbody:first-child tr:first-child td:first-child, table tbody:first-child tr:first-child td:only-child, table tbody:first-child tr:first-child th:first-child, table tbody:first-child tr:first-child th:only-child, table tfoot:first-child tr:first-child td:first-child, table tfoot:first-child tr:first-child td:only-child, table tfoot:first-child tr:first-child th:first-child, table tfoot:first-child tr:first-child th:only-child, table thead tr:first-child td:first-child, table thead tr:first-child td:only-child, table thead tr:first-child th:first-child, table thead tr:first-child th:only-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 0
}

table tbody:first-child tr:first-child td:last-child, table tbody:first-child tr:first-child td:only-child, table tbody:first-child tr:first-child th:last-child, table tbody:first-child tr:first-child th:only-child, table tfoot:first-child tr:first-child td:last-child, table tfoot:first-child tr:first-child td:only-child, table tfoot:first-child tr:first-child th:last-child, table tfoot:first-child tr:first-child th:only-child, table thead tr:first-child td:last-child, table thead tr:first-child td:only-child, table thead tr:first-child th:last-child, table thead tr:first-child th:only-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 0
}

table thead tr td:first-child, table thead tr th:first-child {
    border-right: 1px solid #ededed;
    border-left: 0
}

table tbody tr td:first-child, table tbody tr th:first-child {
    border-right: 1px solid #ededed;
    border-left: 0
}

table tbody tr td:last-child, table tbody tr th:last-child {
    border-left: 1px solid #ededed;
    border-right: 0
}

table tfoot tr td:first-child, table tfoot tr th:first-child {
    border-right: 1px solid #ededed;
    border-left: 0
}

table tfoot tr td:last-child, table tfoot tr th:last-child {
    border-left: 1px solid #ededed;
    border-right: 0
}

table thead tr td:last-child, table thead tr th:last-child {
    border-left: 1px solid #ededed;
    border-right: 0
}

.float-left, .wpb_column.float-left {
    float: left !important
}

.float-right, .wpb_column.float-right {
    float: right !important
}

.tickets-navigation a, .tickets-navigation span {
    margin-left: 10px;
    margin-right: 0
}

.tickets-navigation a:last-child, .tickets-navigation span:last-child {
    margin-left: 0;
    margin-right: 0;
}

.cart_totals-table {
    float: left;
}

.success-payment{
    border-right: 4px solid #7ccc77 !important;
    border-left: 0 !important;;
    border-radius: 0 8px 8px 0 !important;
}

.fail-payment{
    border-right: 4px solid #ff316f !important;
    border-left: 0 !important;
    border-radius: 0 8px 8px 0 !important;
}

@media (max-width: 1200px) {
    .success-payment{
        border-right : none !important;
        border-left : 0 !important;
        border-radius: 8px 8px 0 0 !important;
    }

    .fail-payment{
        border-right : none !important;
        border-left : 0 !important;
        border-radius: 8px 8px 0 0 !important;
    }
}

.ticket-single-image {
    float: right;
    margin-left: 20px;
    margin-right: 0
}

.ticket-single-reply.ticket-single-reply-admin::before {
    left: 38px;
    right: auto;
}

.ticket-single-reply.ticket-single-reply-admin:before {
    left: 38px;
    right: auto;
}

.delete-notification{
    float: left;
    left: -66px;
    right: auto;
}

.dashboard-post-date {
    float: right;
    margin-left: 25px;
    margin-right: 0;
    text-align: left
}

a.dashboard-add-credit-button {
    left: 30px;
    right:auto;
}

.dashboard-post-inner {
    border-right: 1px solid #ededed;
    border-left: 0;
    padding-right: 25px;
    padding-left: 0;
}


.badge-error-orders {
    margin-right: 5px;
    margin-left: 0;
}

.header-user-area {
    margin-right: 0;
    margin-left: 0;
}

.header-user-area:before {
    right: 0;
    left: auto;
}

.header-user-area-btns {
    margin-left: 0;
}

.header-user-area-btns .up_top_notify{
    margin-left: 10px;
    margin-right: 0;
}

.header-user-area-btns .new-order-btn{
    margin-left: 0;
    margin-right: 0;
}

a.up_top_notify .badge {
    right: 0;
    transform: translate(50%, -50%);
    left: auto;
    box-shadow: 1px 0 0 0 #fff;
}

.header-user-area-list {
    left: 0;
    right: auto;
}

@media (max-width: 450px) {
    .header-minicart-holder, .header-search, .header-user-area, .menu-inner > .button, .responsive-menu-button {
        margin-right: 7px;
        margin-left: 0
    }

    .logo-holder h3 {
        margin-right: 10px;
        margin-left: 0
    }
}

.header-user-area-inner span {
    margin-right: 15px;
    margin-left: 0;
}

.panel-header-wallet {
    float: left;
}

.panel-header-wallet span span {
    margin-right: 0;
    margin-left: 0
}

.header-user-area-list a i {
    padding-left: 10px;
    padding-right: 0;
}

/* User Status Section*/
@media (max-width: 450px) {
    .header-user-area-list {
        width: calc(100vw - 30px);
        left: -50px;
        right: auto;
    }
}

@media (max-width: 374px) {
    .header-user-area-list {
        width: calc(100vw - 18px);
        left: -50px;
        right: auto;
    }
}


.user-name {
    padding: 2px 15px 0 0;
}

/*******************
notifications sidebar
 */
body.notifications-open.swal2-shown {
    padding-right: 0 !important;
    padding-left: 0 !important
}

@media (min-width: 1200px) {
    body.notifications-open > .wrapper {
        margin-right: -300px;
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    body.dashboard.notifications-open .site-header {
        left: 300px;
        right: auto
    }
}

@media (min-width: 1200px) {
    body.dashboard.notifications-open .dashboard-navbar, body.dashboard.notifications-open .dashboard-navbar .alert-panel {
        right: -150px;
        left: auto;
    }
}

body:not(.notifications-open) .notifications-sidebar {
    transform: translateX(-100%);
}

.notifications-sidebar {
    left: 0;
    right:auto;
    box-shadow: 5px 0 15px 5px rgba(0, 0, 0, .1)
}

.notifications-sidebar .notifications-sidebar-wrapper > .header .back {
    float: left;
}

.notifications-sidebar .notifications-sidebar-wrapper .content .items .item {
    padding: 20px 20px 20px 10px;
}

.notifications-sidebar .notifications-sidebar-wrapper .content .items .item .icon {
    margin-left: 10px;
    margin-right: 0;
}

.notifications-sidebar .notifications-sidebar-wrapper .content .items .item .time {
    float: left;
}

.notifications-sidebar .notifications-sidebar-wrapper .content .items .item:before {
    right: 0;
    left: auto;
}

.notifications-sidebar .notifications-sidebar-wrapper > .header .back, .notifications-sidebar .notifications-sidebar-wrapper > .header .read-all, .notifications-sidebar .notifications-sidebar-wrapper > .header .settings {
    float: left;
}

.notifications-sidebar .notifications-sidebar-wrapper > .header .read-all, .notifications-sidebar .notifications-sidebar-wrapper > .header .settings {
    margin-left: 20px;
    margin-right: 0;
}

.rtl-dimmer {
    left: 0;
    right: auto;
}

.main-menu {
    margin-right: 33px;
    margin-left: 0;
}

.main-menu .menu > .menu-item.menu-item-has-children > .menu-item-inner a {
    padding-left: 1.4em;
    padding-right: 0;
}

.main-menu .menu > .menu-item.menu-item-has-children > .menu-item-inner a:before {
    text-align: left;
    left: 0;
    right: auto;
}

.main-menu .menu > .menu-item.menu-item-has-children:before {
    right: 0;
    left: auto;
}

.main-menu .menu > .menu-item:first-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.main-menu .menu > .menu-item:last-child {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.main-menu .menu-item-style-normal .sub-menu {
    right: 0;
    left: auto
}

.main-menu .menu-item-style-normal .sub-menu .sub-menu {
    margin-right: 10px;
    margin-left: 0;
    right: 100%;
    left: auto
}

.main-menu .menu-item-style-normal .sub-menu.menu-item-has-children:before {
    right: 100%;
    left: auto
}

.main-menu .menu-item-style-normal .sub-menu .menu-item.menu-item-has-children > .menu-item-inner a {
    padding-left: .5em
}

.main-menu .menu-item-style-normal .sub-menu .menu-item.menu-item-has-children > .menu-item-inner a:after {
    text-align: left;
    left: 0;
    right:auto;
}

body.rtl .text_align_left {
    text-align: left;
}

.logo-holder span.title {
    margin-right: 15px;
    margin-left: 0;
}



.api-documentation table tbody tr td {
    text-align: right !important;
}

.api-documentation table thead tr th {
    text-align: right !important;
}

/*.ticket-close-button {*/
/*    float: left;*/
/*    margin-right: 10px;*/
/*    margin-left: 0;*/
/*}*/

.ticket-single-title-holder {
    float: right
}

.ticket-single-reply-button {
    float: left;
}

/*.ticket-delete-button {*/
/*    float: left;*/
/*    margin-right: 10px;*/
/*    margin-left: 0;*/
/*}*/

.ticket-single-title {
    float: right;
    font-size: 24px;
}

.ticket-single-count {
    float: right;
    margin-right: 15px;
    margin-left: 0;
}

.ticket-single-status {
    clear: right;
    float: right;
}

body.rtl #show-service-all{
    float: left;
    margin-left: 10px;
    margin-right:0
}

.bulk-update-price-btn{
    left: 124px;
    right:auto;
}

.payment-history-modal .price{
    float:right;
}
.payment-history-modal .status {
    float: left;
}

.payment-history-modal .title {
    float:right
}

.payment-history-modal .content {
    float:left
}

.notifications-sidebar .notifications-sidebar-wrapper > .header .back i{
    rotate: 0deg;
}

.blog-page-header h3.farsi-title a {
    display: block;
}


.header-search-holder {
    float: right;
    margin-right: 15px;
    margin-left:0;
}

@media (max-width: 767px) {
    .header-search-holder {
        float: left
    }
}

.header-search-button i {
    margin-left: 12px;
    margin-right: 0
}

.header-search-content .search-field {
    border: 0;
    padding: 15px 20px 15px 35px
}

.password-submit, .search-submit {
    left: 20px;
}

.author-bio-holder .author-avatar, .blog-engagements {
    float: right
}

.kt-dislike-count, .kt-like-count {
    margin-left: 15px;
    margin-right: 0;
}

.blog-single-content-sidebar {
    float: left;
    /*width: 120px*/
}

.blog-single-content {
    margin-left: 210px;
    margin-right: 0
}

@media (max-width: 767px) {
    .blog-single-content {
        margin-right: 0;
        margin-left: 0;
    }
}

.blog-single-sources span {
    margin-left: 15px;
    margin-right: 0;
}

.blog-goto-comments span {
    float: right;
}

.blog-goto-comments .button {
    float: left
}

.comments-title-outer {
    float: right;
}

.comment-open-button {
    float: left;
}

.comments-title .comments-title-inner span.comments-number {
    margin-left: 12px;
    margin-right: 0;
}

.comment-image-holder {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.comment-title-holder {
    float: right
}

.kt-like-holder {
    float: left;
}

.kt-dislike-count, .kt-like-count {
    margin-right: 15px;
    margin-left: 0;
}

.comment-reply-link {
    margin-right: 12px;
    margin-left:0;
}

.blog-single-social-links .kt-dislike-count, .blog-single-social-links .kt-like-count {
    margin-right: 0;
    margin-left: 0;
}

.blog-engagements-icon {
    float: right;
    width: 22px
}

.blog-engagements span {
    padding-right: 10px;
    padding-left: 0
}

.blog-item-readtime {
    float: left;
}

/*[data-tooltip]:after {*/
/*    right: -10px;*/
/*    left: auto;*/
/*}*/

[data-tooltip]:before {
    right: 6px;
    left: auto;
}

.responsive-menu-button {
    margin-right: 15px;
    margin-left: 0
}

.responsive-menu-outer-holder {
    -webkit-transition: right .55s cubic-bezier(.38, .11, .01, 1), box-shadow .55s cubic-bezier(.38, .11, .01, 1);
    -webkit-transition: right .55s cubic-bezier(.38, .11, .01, 1), -webkit-box-shadow .55s cubic-bezier(.38, .11, .01, 1);
    transition: right .55s cubic-bezier(.38, .11, .01, 1), -webkit-box-shadow .55s cubic-bezier(.38, .11, .01, 1);
    transition: right .55s cubic-bezier(.38, .11, .01, 1), box-shadow .55s cubic-bezier(.38, .11, .01, 1);
    transition: right .55s cubic-bezier(.38, .11, .01, 1), box-shadow .55s cubic-bezier(.38, .11, .01, 1), -webkit-box-shadow .55s cubic-bezier(.38, .11, .01, 1);
    right: -250px;
    left: auto;
}

html.responsive-menu-opened .responsive-menu-outer-holder {
    right: 0;
    left: auto
}

.responsive-logo {
    right: 30px;
    left: auto
}

.kt-notice-inner .button {
    float: left
}

.kt-notice-inner .kt-notice-close {
    right: -1.3em;
    left: auto
}

.kt-notice-inner .kt-notice-text {
    float: right;
}

.panel-menu-button {
    float: right;
}

.panel-menu-button-inner, .panel-menu-button-inner:after, .panel-menu-button-inner:before {
    left: 0;
    right:auto;
}

/*panel2*/
.my_account_menu {
    padding-right: 10px;
    padding-left: 0;
}

.my_account_menu i{
    margin-left: 10px;
    margin-right: 0
}

@media only screen and (max-width:992px) {
    .my_account_s .kando-panel2-navigation {
        border-right: 2px solid #f3f3f3;
    }
}

.my_account_close {
    float: left;
}

@media only screen and (max-width: 992px) {
        .kando-panel2-navigation {
            right: 0;
            left:auto;
            -webkit-transform: translate(0, 0) !important;
            -moz-transform: translate(0, 0) !important;
            -ms-transform: translate(0, 0) !important;
            -o-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
            visibility: visible;
            opacity: 1;
        }

}

.input-group-prepend {
    margin-right: -1px; /* تغییر margin-left به margin-right */
    margin-left: 0; /* حذف margin-left */
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
.input-group>.input-group-append:not(:last-child)>.btn,
.input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text {
    border-top-left-radius: 0; /* تغییر border-top-right-radius به border-top-left-radius */
    border-bottom-left-radius: 0; /* تغییر border-bottom-right-radius به border-bottom-left-radius */
}

.input-group>.input-group-append>.input-group-text{
    border-radius: 0 3px 3px 0 !important; /* تغییر border-radius */
}

.input-group>.input-group-prepend>.input-group-text{
    border-radius: 3px 0 0 3px !important; /* تغییر border-radius */
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
    border-top-right-radius: 0; /* تغییر border-top-left-radius به border-top-right-radius */
    border-bottom-right-radius: 0; /* تغییر border-bottom-left-radius به border-bottom-right-radius */
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-left-radius: 0; /* تغییر border-top-right-radius به border-top-left-radius */
    border-bottom-left-radius: 0; /* تغییر border-bottom-right-radius به border-bottom-left-radius */
}

.input-group-prepend {
    order: 2; /* تغییر order برای قرار دادن در سمت راست */
}
.input-group .form-control {
    order: 1; /* تغییر order برای input تا در سمت چپ قرار بگیرد */
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid #aaa !important;
    border-left: none !important;
}


/* rtl.css */

/* جهت‌ها و مارجین‌ها */
.navbar .nav-item .toggle-body a {
    direction: rtl;
    text-align: right;
}

.border-left{
    border-right: 1px solid #ededed !important;
}


/* سبک select2 */
.select2-selection {
    padding-left: 40px !important;
    padding-right: 0 !important;
    background-position: left 1.2em center !important;
    border-radius: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    padding-left: 10px;
    padding-right: 0;
}

.select2-container--default .select2-selection--single {
    text-align: right;
}

/****** ELEMENTS ELEMENTOR ******/
.kando-elementor-pack .iptsCircle {
    right: -42px;
    left:auto !important;
}

.kando-elementor-pack .iptsTitle {
    left: -33px;
    right:auto !important;
}

.kando-elementor-pack .iptsIconCircle i {
    left: -10px;
    right: auto !important;
}

/*************************************************
package 2
************************************* */
select option {
    text-align: right !important;
}

.kando-elementor-pack2 .btn-blue-bg {
    float: left !important;
}

.kando-elementor-pack2.pckg > div:last-child {
    border-left: 0 !important;
}

.kando-elementor-pack2.pckg li {
    float: right !important;
}

.kando-elementor-pack2 .pckg-price span sup {
    margin: 0 8px 0 -6px !important;
}

.kando-elementor-pack2.pckg > div:nth-child(3) {
    text-align: right !important;
    padding-right: 22px !important;
    padding-left: 0 !important;
}

.kando-elementor-pack2.pckg > div:nth-child(3):after {
    left: -40px !important;
}

@media only screen and (max-width: 767px) {
    .kando-elementor-pack2.pckg > div {
        border-radius: 5px 5px 0 0 !important;
    }
}

.kando-elementor-pack2 .comboChooser:before {
    content: "انتخاب کنید" !important;
    left: 13px !important;
    right: auto !important;
    border-right: 1px solid #e8e6e6;
    border-left: 0;
    /*border-radius: 3px 0 0 3px !important;*/
    /*border-radius: 30px 0 0 30px !important;*/
}

.kando-elementor-pack2 .fl_combo {
    text-align: right !important;
    padding: 10px 15px 10px 100px !important;
}

.kando-elementor-pack2 .normal-text h2 {
    text-align: right !important;
}

.kando-elementor-pack2 ::-webkit-input-placeholder {
    text-align: right !important;
}

.kando-elementor-pack2.off {
    text-align: right !important;
    padding-right: 75px !important;
    padding-left: 25px !important;
    left: 50% !important;
    right: auto !important;
    margin-left: -89px!important;
    margin-right: 0!important;
}

.kando-elementor-pack2.off span {
    right: 16px !important;
    left: auto !important;
}

.kando-elementor-pack2.off span i {
    float: left !important;
    padding-right: 6px !important;
    padding-left: 0 !important;
}

.kando-elementor-pack2 .nice-select {
    text-align: right !important;
}

.kando-elementor-pack2 .nice-select .list {
    right: -10px;
    left: auto !important;
}

.kando-elementor-pack2 .nice-select .option {
    text-align: right !important;
}

.kando-elementor-pack2 .option i {
    text-align: left !important;
}

.app-engage {
    left: 0;
    right: auto;
    padding-left: 12px;
    padding-right: 0;
}

.text-align{
    text-align: left;
}

.vc_col-xs-offset-3, .vc_media-lg .vc_col-lg-offset-3, .vc_media-md .vc_col-md-offset-3, .vc_media-sm .vc_col-sm-offset-3, .vc_media-xs .vc_col-xs-offset-3, .vc_non_responsive .vc_row .vc_col-sm-offset-3 {
    margin-left: 25%
}

@media (min-width: 1200px) {
    .vc_col-lg-offset-3 {
        margin-right: 25%;
        margin-left: 0;
    }
}

.kando-float-buttons-list {
    left: 0;
    z-index: 5;
    padding-left: 12px;
    padding-right: 0;
    right: auto;
}

.ml-left {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.kando-tooltip-content {
    text-align: right;
    /*right: 50%;*/
    /*left: auto;*/
    direction: rtl;
}

@media (max-width: 767px) {
    /* اطمینان از اینکه h4 و ul به صورت بلاک نمایش داده می‌شوند (معمولا پیش‌فرض است) */
    .shop_table_responsive tbody tr td.border-left > h4,
    .shop_table_responsive tbody tr td.border-left > ul {
        text-align: right;
    }
    .shop_table_responsive tbody tr td.border-left > ul li {
        text-align: right;
    }

}